<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="resources/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="resources/css/formulario.css"> -->
    <script type="module" src="resources/js/login.js" defer></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.bundle.js" defer></script>
    <meta name="keywords" content="Lá mejor página">
    <meta name="author" content="Sergio Vallejo">
    <title>Personajes</title>
</head>

<body>
    <main>
        <section>
            <div class="container-fluid">
                <div id="character-container"
                    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 m-4 justify-content-lg-center">
                    <form id="loginForm" method="post"
                        class="bg-primary text-secondary fs-4 d-flex justify-content-center align-items-center p-2 rounded">
                        <fieldset>
                            <legend
                                class="text-info fs-1 d-flex justify-content-center align-items-center p-2 text-decoration-underline">
                                Usuario</legend>
                            <label for="usuario">Usuario:</label><br>
                            <input class="form-control border-0" type="text" name="usuario" id="usuario"
                                placeholder="Ponga su Usuario" required><br>
                            <label for="password">Contraseña:</label><br>
                            <input class="form-control border-0" type="password" name="password" id="password"
                                placeholder="Ponga su contraseña" required>
                            <div class="centrado">
                                <button class="btn rounded bg-info text-primary border-0" type="submit">Entrar</button>
                                <button class="btn rounded bg-info text-primary border-0"
                                    type="reset">Limpiar</button><br><br>
                            </div>
                            <div class="centrado">
                                <button class="btn rounded bg-info text-primary border-0"><a id="enlace"
                                        href="crearusuario.php">Crear Usuario</a></button>
                            </div>
                        </fieldset><br>
                    </form>
                </div>
            </div>
        </section>
        <article></article>
        <aside></aside>
    </main>
</body>

</html>