<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="resources/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="resources/css/formulario.css"> -->
    <script type="module" src="resources/js/login.js" defer></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.bundle.js" defer></script>
    <meta name="keywords" content="Lá mejor página">
    <meta name="author" content="Sergio Vallejo">
    <title>Personajes</title>
</head>

<body>
    <main>
        <section>
            <div class="container-fluid">
                <div id="character-container"
                    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 m-4 justify-content-lg-center">
                    <form id="loginForm" class="bg-primary text-secondary fs-4 p-4 rounded">
                        <fieldset>
                            <legend class="text-info fs-1 text-center text-decoration-underline mb-4">Usuario</legend>

                            <div class="mb-3">
                                <label for="usuario" class="form-label">Usuario:</label>
                                <input type="text" name="usuario" id="usuario" class="form-control border-0"
                                    placeholder="Ponga su Usuario" required>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" name="password" id="password" class="form-control border-0"
                                    placeholder="Ponga su contraseña" required>
                            </div>

                            <div class="d-grid gap-2 mb-3">
                                <button class="btn bg-info text-primary border-0" type="submit">Entrar</button>
                                <button class="btn bg-info text-primary border-0" type="reset">Limpiar</button>
                            </div>

                            <div class="text-center">
                                <a class="btn bg-info text-primary border-0" id="enlace" href="crearusuario.html">Crear
                                    Usuario</a>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </section>
    </main>
</body>

</html>